<div class="comments-section">
    <h2>Comments for Apartment {{ apartmentId }}</h2>
    <div *ngFor="let comment of comments" class="comment">
      
      <p><strong>{{ comment.userType }}:</strong> {{ comment.text }}</p>
      <!-- <small>{{ comment.timestamp | date:'short' }}</small> -->
    </div>

    <div class="add-comment">
      <!-- <textarea [(ngModel)]="newComment" placeholder="Add a comment..."></textarea> -->
       <textarea placeholder="Add Comment ..."></textarea>
      <button (click)="addComment()">Submit</button>
    </div>
  </div>



  